$background-black-light: #33373E
$background-black: #252C32
$purple-theme: #9430EB /* for text */
$white-theme: #E3E3E3 /* for text */
$darker-text: #858585
$purple-theme-faded: #9430EB
$logo-text: arista, "Nunito", sans-serif


@font-face
  font-family: arista
  src: url('../fonts/arista.ttf') format('truetype')

@font-face
  font-family: osRegular
  src: url('../fonts/openSans-regular.ttf') format('truetype')

@font-face
  font-family: osSemibold
  src: url('../fonts/openSans-semibold.ttf') format('truetype')


@mixin fontStyle($color: $logo-text, $font: arista)
  font-family: $font, "Nunito", sans-serif
  color: $color

@mixin spaceKiller
  padding: 0
  margin: 0

@mixin centerAligned($flow: column)
  display: flex
  flex-flow: $flow
  align-items: center
  justify-content: center
  align-content: center



html
  overflow: hidden
  height: 100vh
  width: 100vw
  padding: 0
  margin: 0
  background-image: url('../images/background-dark.svg')
  background-size: cover
  background-repeat: no-repeat
  line-height: 1.6
  font-family: "Nunito", sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

h1,
h2,
h3,
h4,
h5
  line-height: 1.2

.body
  @include centerAligned()
  margin-top: 7vh
  position: relative
  left: 22vw

#logo
  @include spaceKiller
  font-family: $logo-text
  font-size: 10rem
  color: $white-theme


#loginForm
  @include centerAligned($flow: column)
  @include spaceKiller
  align-items: flex-start
  justify-content: space-between
  width: 18vw
  height: 52vh
  padding: 1vh 2.5vw 0 2.5vw
  border-radius: 2vh
  background-color: $background-black-light
  box-shadow: .3rem 1rem 1.5rem #25272d




#loginForm__title
  @include spaceKiller
  @include fontStyle($color: $white-theme, $font: osSemibold)
  font-size: 3rem


#loginForm__signUp
  @include spaceKiller
  @include fontStyle($color: $white-theme, $font: osRegular)
  font-size: 1rem
  margin-bottom: 2vh



a
  @include fontStyle($color: $purple-theme, $font: osRegular)


.loginForm__field
  @include centerAligned($flow: column)
  width: 90%
  align-items: flex-start
  margin-bottom: 2vh


.field__text
  @include spaceKiller
  @include fontStyle($color: $white-theme, $font: osSemibold)
  font-size: 2rem

.field__enterInfo
  @include fontStyle($color: $darker-text, $font: osRegular)
  font-size: .8rem
  padding: 1vh .5vw
  width: 100%
  background-color: $background-black-light
  border: .1vw solid $white-theme
  border-radius: 5px

.field__enterInfo:focus
  color: $white-theme


#loginForm__loginButton
  @include spaceKiller
  @include fontStyle($color: $white-theme, $font: osRegular)
  font-size: 1.5rem
  width: 20.6vw
  height: 18%
  align-self: center
  justify-self: flex-end
  background: radial-gradient($purple-theme, #b057ff 170%)
  border-style: none
  border-radius: 0 0 1vh 1vh

#loginForm__loginButton:hover
  background: $purple-theme



@media screen and (max-width: 1600px)
  #loginForm
    width: 368px
    padding: 10px 25px 0 25px

  #loginForm__loginButton
    width: 418px

  .body
    left: 0



@media screen and (max-height: 1000px)
  #loginForm
    height: 468.5px
    padding: 10px 25px 0 25px

  #loginForm__signUp
    margin-bottom: 16.36px

  .loginForm__field
    margin-bottom: 16.36px









/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3)



/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px)
  .body
    left: 0


  #logo
    font-size: 5.5rem
    margin-bottom: 10%
    color: $white-theme

  #loginForm
    height: 30%
    width: 300px
    padding: 10px 25px 0 25px

  #loginForm__signUp
    margin-bottom: 16.36px

  .loginForm__field
    margin-bottom: 16.36px

  #loginForm__loginButton
    width: 350px
    height: 60px






///* Landscape */
//@media only screen
//  and (min-device-width: 375px)
//  and (max-device-width: 812px)
//  and (-webkit-min-device-pixel-ratio: 3)
//  and (orientation: landscape) {
//
//}