$background-black-light: #33373E
$background-black: #252C32
$purple-theme: #9430EB /* for text */
$white-theme: #E3E3E3 /* for text */
$darker-text: #858585
$purple-theme-faded: #9430EB
$logo-text: arista, "Nunito", sans-serif


@font-face
  font-family: arista
  src: url('../fonts/arista.ttf') format('truetype')

@font-face
  font-family: osRegular
  src: url('../fonts/openSans-regular.ttf') format('truetype')

@font-face
  font-family: osSemibold
  src: url('../fonts/openSans-semibold.ttf') format('truetype')


@mixin fontStyle($color: $logo-text, $font: arista)
  font-family: $font, "Nunito", sans-serif
  color: $color

@mixin spaceKiller
  padding: 0
  margin: 0

@mixin centerAligned($flow: column)
  display: flex
  flex-flow: $flow
  align-items: center
  justify-content: center
  align-content: center



html
  overflow-x: hidden
  line-height: 1.6
  font-family: "Nunito", sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

h1,
h2,
h3,
h4,
h5
  line-height: 1.2

body
  @include spaceKiller
  height: 100vh


#root
  width: 100vw
  height: 100vh

#loginBackGround
  width: 100vw
  height: 100vh
  background-image: url('../images/background-dark.svg')
  background-size: cover
  background-repeat: no-repeat

.wrapper
  @include centerAligned()
  overflow-y: hidden
  justify-content: center
  position: relative
  left: 22vw
  height: 80%

#logo
  @include spaceKiller
  font-family: $logo-text
  font-size: 10vw
  color: $white-theme
  margin-bottom: 2%


#loginForm
  @include centerAligned($flow: column)
  @include spaceKiller
  align-items: flex-start
  justify-content: space-between
  width: 25vw
  height: 25%
  border-radius: 2vh
  background-color: $background-black-light
  box-shadow: .3rem 1rem 1.5rem #25272d




#loginForm__title
  @include spaceKiller
  @include fontStyle($color: $white-theme, $font: osSemibold)
  font-size: 5vh
  padding: 3% 0 0 3%


#loginForm__signUp
  @include spaceKiller
  @include fontStyle($color: $white-theme, $font: osRegular)
  position: relative
  font-size: 1rem
  padding: 0 0 0 3%



a
  @include fontStyle($color: $purple-theme, $font: osRegular)



#loginForm__loginButton
  @include spaceKiller
  @include fontStyle($color: $white-theme, $font: osRegular)
  @include centerAligned($flow: row)
  justify-content: center
  font-size: 1.5rem
  width: 100%
  height: 35%
  align-self: center
  background: radial-gradient($purple-theme, #b057ff 170%)
  border-style: none
  border-radius: 0 0 1vh 1vh

  img
    height: 50%
    width: auto
    margin-right: 1vw

  h1
    @include fontStyle($color: $white-theme, $font: osRegular)
    font-size: 115%
    margin-left: 1vw


#loginForm__loginButton:hover
  background: $purple-theme









@media screen and (max-width: 1600px)
  #logo
    position: relative
    bottom: 15vh


  #loginForm
    position: relative
    bottom: 10vh
    width: 368px
    height: 200px
    padding: 10px 25px 0 25px

  #loginForm__loginButton
    width: 418px

  .body
    left: 0




@media screen and (max-width: 1200px)
  body
    width: 736px
    height: 100vh

  #logo
    bottom: 125px


  .wrapper
    @include centerAligned()
    position: relative
    width: 100vw
    left: 0

@media screen and (max-height: 800px)
  .wrapper
    width: 809px


  #logo
    margin-bottom: 32px

  #loginForm
    bottom: 100px
  #loginForm__signUp
    margin-bottom: 16.36px

  .loginForm__field
    margin-bottom: 16.36px









/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3)



/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px)
  #root
    background-position: 30% 0


  body
    height: 100vh
    width: 100vw

  .wrapper
    @include centerAligned()
    position: relative
    width: 100vw
    left: 0

  #logo
    font-size: 500%

  #loginForm
    width: 72%
    height: 150px
    padding: 1vh 2.5vw 0 2.5vw

  #loginForm__title
    font-size: 200%


  #loginForm__signUp
    font-size: 90%
    bottom: 6%

  #loginForm__loginButton
    font-size: 110%
    width: 100%
    padding: 0 2.5vw 0 2.5vw
    height: 40%
    align-self: center
    background: radial-gradient($purple-theme, #b057ff 170%)
    border-style: none
    border-radius: 0 0 1vh 1vh

