@font-face {
  font-family: arista;
  src: url("../fonts/arista.ttf") format("truetype");
}
@font-face {
  font-family: osRegular;
  src: url("../fonts/openSans-regular.ttf") format("truetype");
}
@font-face {
  font-family: osSemibold;
  src: url("../fonts/openSans-semibold.ttf") format("truetype");
}
html {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  background-image: url("../images/background-dark.svg");
  background-size: cover;
  background-repeat: no-repeat;
  line-height: 1.6;
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
}

.body {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin-top: 7vh;
  position: relative;
  left: 22vw;
}

#logo {
  padding: 0;
  margin: 0;
  font-family: arista, "Nunito", sans-serif;
  font-size: 10rem;
  color: #E3E3E3;
}

#loginForm {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 0;
  margin: 0;
  align-items: flex-start;
  justify-content: space-between;
  width: 18vw;
  height: 52vh;
  padding: 1vh 2.5vw 0 2.5vw;
  border-radius: 2vh;
  background-color: #33373E;
  box-shadow: 0.3rem 1rem 1.5rem #25272d;
}

#loginForm__title {
  padding: 0;
  margin: 0;
  font-family: osSemibold, "Nunito", sans-serif;
  color: #E3E3E3;
  font-size: 3rem;
}

#loginForm__signUp {
  padding: 0;
  margin: 0;
  font-family: osRegular, "Nunito", sans-serif;
  color: #E3E3E3;
  font-size: 1rem;
  margin-bottom: 2vh;
}

a {
  font-family: osRegular, "Nunito", sans-serif;
  color: #9430EB;
}

.loginForm__field {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 90%;
  align-items: flex-start;
  margin-bottom: 2vh;
}

.field__text {
  padding: 0;
  margin: 0;
  font-family: osSemibold, "Nunito", sans-serif;
  color: #E3E3E3;
  font-size: 2rem;
}

.field__enterInfo {
  font-family: osRegular, "Nunito", sans-serif;
  color: #858585;
  font-size: 0.8rem;
  padding: 1vh 0.5vw;
  width: 100%;
  background-color: #33373E;
  border: 0.1vw solid #E3E3E3;
  border-radius: 5px;
}

.field__enterInfo:focus {
  color: #E3E3E3;
}

#loginForm__loginButton {
  padding: 0;
  margin: 0;
  font-family: osRegular, "Nunito", sans-serif;
  color: #E3E3E3;
  font-size: 1.5rem;
  width: 20.6vw;
  height: 18%;
  align-self: center;
  justify-self: flex-end;
  background: radial-gradient(#9430EB, #b057ff 170%);
  border-style: none;
  border-radius: 0 0 1vh 1vh;
}

#loginForm__loginButton:hover {
  background: #9430EB;
}

@media screen and (max-width: 1600px) {
  #loginForm {
    width: 368px;
    padding: 10px 25px 0 25px;
  }

  #loginForm__loginButton {
    width: 418px;
  }

  .body {
    left: 0;
  }
}
@media screen and (max-height: 1000px) {
  #loginForm {
    height: 468.5px;
    padding: 10px 25px 0 25px;
  }

  #loginForm__signUp {
    margin-bottom: 16.36px;
  }

  .loginForm__field {
    margin-bottom: 16.36px;
  }
}
/* ----------- iPhone X ----------- */
/* Portrait and Landscape */
/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
  .body {
    left: 0;
  }

  #logo {
    font-size: 5.5rem;
    margin-bottom: 10%;
    color: #E3E3E3;
  }

  #loginForm {
    height: 30%;
    width: 300px;
    padding: 10px 25px 0 25px;
  }

  #loginForm__signUp {
    margin-bottom: 16.36px;
  }

  .loginForm__field {
    margin-bottom: 16.36px;
  }

  #loginForm__loginButton {
    width: 350px;
    height: 60px;
  }
}

/*# sourceMappingURL=App.css.map */
