@font-face {
  font-family: arista;
  src: url("../fonts/arista.ttf") format("truetype");
}
@font-face {
  font-family: osRegular;
  src: url("../fonts/openSans-regular.ttf") format("truetype");
}
@font-face {
  font-family: osSemibold;
  src: url("../fonts/openSans-semibold.ttf") format("truetype");
}
html {
  overflow-x: hidden;
  line-height: 1.6;
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
}

#root {
  width: 100vw;
  height: 100vh;
}

#loginBackGround {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 100vw;
  height: 100vh;
  background-image: url("../images/background-dark.svg");
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: flex-end;
}

.wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin-right: 5%;
  justify-content: center;
  align-items: center;
  width: 40%;
}

#logo {
  padding: 0;
  margin: 0;
  font-family: arista, "Nunito", sans-serif;
  font-size: 10vw;
  color: #E3E3E3;
  margin-bottom: 2%;
}

#loginForm {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 0;
  margin: 0;
  align-items: flex-start;
  justify-content: space-between;
  width: 70%;
  height: 25%;
  border-radius: 2vh;
  background-color: #33373E;
  box-shadow: 0.3rem 1rem 1.5rem #25272d;
}

#loginForm__title {
  padding: 0;
  margin: 0;
  font-family: osSemibold, "Nunito", sans-serif;
  color: #E3E3E3;
  font-size: 5vh;
  padding: 3% 0 0 3%;
}

#loginForm__signUp {
  padding: 0;
  margin: 0;
  font-family: osRegular, "Nunito", sans-serif;
  color: #E3E3E3;
  position: relative;
  font-size: 1rem;
  padding: 0 0 0 3%;
}

a {
  font-family: osRegular, "Nunito", sans-serif;
  color: #9430EB;
}

#loginForm__loginButton {
  padding: 0;
  margin: 0;
  font-family: osRegular, "Nunito", sans-serif;
  color: #E3E3E3;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-content: center;
  font-size: 1.5rem;
  width: 100%;
  height: 35%;
  align-self: center;
  background: radial-gradient(#9430EB, #b057ff 170%);
  border-style: none;
  border-radius: 0 0 1vh 1vh;
}
#loginForm__loginButton img {
  height: 50%;
  width: auto;
  margin-right: 1vw;
}
#loginForm__loginButton h1 {
  font-family: osRegular, "Nunito", sans-serif;
  color: #E3E3E3;
  font-size: 115%;
  margin-left: 1vw;
}

#loginForm__loginButton:hover {
  background: #9430EB;
}

@media screen and (max-width: 1300px) {
  #logo {
    margin-top: 35%;
  }

  .wrapper {
    width: 520px;
  }
}
@media screen and (max-width: 1000px) {
  #loginBackGround {
    justify-content: center;
  }

  .wrapper {
    margin-right: 0;
  }
}

/*# sourceMappingURL=App.css.map */
