@font-face {
  font-family: arista;
  src: url("../fonts/arista.ttf") format("truetype");
}
@font-face {
  font-family: osRegular;
  src: url("../fonts/openSans-regular.ttf") format("truetype");
}
@font-face {
  font-family: osSemibold;
  src: url("../fonts/openSans-semibold.ttf") format("truetype");
}
#appGrid {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 35% auto;
  grid-template-rows: 10% auto;
  row-gap: 2%;
  background-color: #282D34;
}

#header {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-content: space-between;
  background-color: #9430EB;
  border-radius: 0 0 2vh 2vh;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;
}
#header h1 {
  font-family: arista, "Nunito", sans-serif;
  color: #E3E3E3;
  padding: 0;
  margin: 0;
  font-size: 350%;
  margin-left: 2%;
}
#header p {
  font-family: osRegular, "Nunito", sans-serif;
  color: #E3E3E3;
  padding: 0;
  margin: 0;
  font-size: 200%;
  margin-right: 2%;
}

.contact .contact__activeBar--red {
  justify-self: flex-start;
  width: 2%;
  margin-right: 3%;
  height: 100%;
  background-color: #FF397D;
  border-radius: 0 1vh 1vh 0;
}
.contact .contact__activeBar--green {
  justify-self: flex-start;
  width: 2%;
  margin-right: 3%;
  height: 100%;
  background-color: #00A48A;
  border-radius: 0 1vh 1vh 0;
}

.buttons {
  background-color: #583E79;
  border: none;
  border-radius: 18px;
  padding: 0.8vh 1vw;
  width: 6.5vw;
  font-size: 130%;
  text-align: center;
}

#contacts {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-content: flex-start;
  width: 90%;
  height: 100%;
  justify-self: center;
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
}
#contacts #buttonBar {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-content: space-between;
  height: 10%;
  width: 100%;
}
#contacts #buttonBar #searchBar {
  font-family: osRegular, "Nunito", sans-serif;
  color: #E3E3E3;
  width: 60%;
  padding: 0.8vh 1vw;
  border: none;
  border-radius: 2.5vh;
  font-size: 130%;
  background-color: #3C434B;
  color: #858585;
}
#contacts #buttonBar #searchBar:focus-visible {
  color: #E3E3E3;
  outline: none;
}
#contacts input[type=search]::-webkit-search-decoration,
#contacts input[type=search]::-webkit-search-cancel-button,
#contacts input[type=search]::-webkit-search-results-button,
#contacts input[type=search]::-webkit-search-results-decoration {
  display: none;
}
#contacts #addButton {
  font-family: osRegular, "Nunito", sans-serif;
  color: #E3E3E3;
}
#contacts #addButton:hover {
  background-color: #9430EB;
}
#contacts #contactsList::-webkit-scrollbar {
  display: none;
}
#contacts #contactsList {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  background-color: #3C434B;
  color: #E3E3E3;
  width: 100%;
  height: 90%;
  max-height: 772px;
  border-radius: 2vh 2vh 0 0;
  justify-content: flex-start;
  overflow-y: scroll;
}
#contacts #contactsList #noContacts {
  position: relative;
  top: 50%;
}
#contacts #contactsList .contact:hover {
  background-color: #2e343a;
}
#contacts #contactsList .contact--active {
  background-color: #583E79;
}
#contacts #contactsList .contact--active:hover {
  background-color: #583E79;
}
#contacts #contactsList .contact {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  height: 20%;
  width: 100%;
  justify-content: flex-start;
}
#contacts #contactsList .contact .contact__activeBar--lit {
  justify-self: flex-start;
  width: 2%;
  margin-right: 3%;
  height: 100%;
  background-color: #9430EB;
  border-radius: 0 1vh 1vh 0;
}
#contacts #contactsList .contact .contact__activeBar {
  justify-self: flex-start;
  width: 2%;
  margin-right: 3%;
  height: 95%;
}
#contacts #contactsList .contact .contactImage--border {
  width: 15%;
  margin-right: 3%;
  height: 50%;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
}
#contacts #contactsList .contact .contact__text {
  width: 72%;
  height: 25%;
  text-align: center;
  overflow: hidden;
}
#contacts #contactsList .contact .contact__text h1 {
  padding: 0;
  margin: 0;
  font-family: osSemibold, "Nunito", sans-serif;
  color: #E3E3E3;
  font-size: 3vh;
}
#contacts #contactsList .contact .contact__text p {
  padding: 0;
  margin: 0;
  font-family: osRegular, "Nunito", sans-serif;
  color: #E3E3E3;
  font-size: 125%;
}
#contacts #contactsList .contact .contact__text--name {
  height: 25%;
}
#contacts #contactsList .contact .contact__text--name h1 {
  text-align: center;
}

#chat {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-content: flex-start;
  width: 90%;
  height: 100%;
  justify-self: center;
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 3;
}
#chat #receiver {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 40%;
  height: 10%;
}
#chat #receiver #receiver__header {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  background-color: #583E79;
  border: none;
  border-radius: 18px;
  padding: 0.8vh 1vw;
  width: 100%;
}
#chat #receiver #receiver__header img {
  width: 5%;
  position: relative;
  display: none;
  margin-left: 2%;
}
#chat #receiver #receiver__header p {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 0;
  margin: 0;
  font-family: osSemibold, "Nunito", sans-serif;
  color: #E3E3E3;
  width: 90%;
  font-size: 130%;
  text-align: center;
  text-overflow: ellipsis;
  color: #E3E3E3;
}
#chat #receiver #contactsFlex {
  display: none;
  position: absolute;
  top: 19vh;
  width: 58%;
  overflow-y: scroll;
}
#chat #receiver #contactsFlex::-webkit-scrollbar {
  display: none;
}
#chat #chatWindow {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 78vh;
  overflow-y: scroll;
}
#chat #chatWindow .receivedMessage {
  font-family: osSemibold, "Nunito", sans-serif;
  color: #282D34;
  background-color: #E3E3E3;
  padding: 2vh 2vw;
  border-radius: 2.8vh;
  max-width: 45%;
  margin-bottom: 0.2vh;
  overflow-wrap: break-word;
}
#chat #chatWindow .lastReceivedMessage {
  font-family: osSemibold, "Nunito", sans-serif;
  color: #282D34;
  background-color: #E3E3E3;
  padding: 2vh 2vw;
  border-radius: 2.8vh;
  max-width: 45%;
  margin-bottom: 0.2vh;
  overflow-wrap: break-word;
  border-radius: 0 2.8vh 2.8vh 2.8vh;
}
#chat #chatWindow .sentMessage {
  font-family: osSemibold, "Nunito", sans-serif;
  color: #282D34;
  background-color: #E3E3E3;
  padding: 2vh 2vw;
  border-radius: 2.8vh;
  max-width: 45%;
  margin-bottom: 0.2vh;
  overflow-wrap: break-word;
  align-self: flex-end;
  background-color: #9430EB;
  color: #E3E3E3;
}
#chat #chatWindow .lastSentMessage {
  font-family: osSemibold, "Nunito", sans-serif;
  color: #282D34;
  background-color: #E3E3E3;
  padding: 2vh 2vw;
  border-radius: 2.8vh;
  max-width: 45%;
  margin-bottom: 0.2vh;
  overflow-wrap: break-word;
  align-self: flex-end;
  background-color: #9430EB;
  color: #E3E3E3;
  border-radius: 2.8vh 0 2.8vh 2.8vh;
}
#chat #chatWindow::-webkit-scrollbar {
  display: none;
}
#chat #messageBar {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-content: space-between;
  height: 12%;
  width: 100%;
}
#chat #messageBar #message {
  font-family: osRegular, "Nunito", sans-serif;
  color: #E3E3E3;
  width: 75%;
  padding: 0.8vh 1vw;
  border: none;
  border-radius: 2.5vh;
  font-size: 2.5vh;
  background-color: #3C434B;
  color: #E3E3E3;
}
#chat #messageBar #message:focus-visible {
  outline: none;
}
#chat #messageBar #sendMessage {
  font-family: osRegular, "Nunito", sans-serif;
  color: #E3E3E3;
  background-color: #9430EB;
  font-size: 2.5vh;
  min-width: 63px;
}

@media screen and (max-width: 1400px) {
  #appGrid {
    grid-template-columns: auto;
  }

  #chat {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    height: 88vh;
  }
  #chat #chatWindow {
    height: 65vh;
  }
  #chat #receiver {
    width: 65%;
  }
  #chat #receiver #receiver__header {
    height: 60%;
    padding: 0;
  }
  #chat #receiver #receiver__header p {
    width: 80%;
    font-size: 3.5vw;
  }
  #chat #receiver #receiver__header img {
    display: block;
    width: 2vw;
  }
  #chat #receiver #contactsFlex {
    display: block;
    height: 30%;
  }
  #chat #receiver #contactsFlex .contact:hover {
    background-color: #583E79;
  }
  #chat #receiver #contactsFlex .contact {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 30%;
    justify-content: flex-start;
    background-color: #3C434B;
  }
  #chat #receiver #contactsFlex .contact .contact__activeBar--lit {
    justify-self: flex-start;
    width: 2%;
    margin-right: 3%;
    height: 100%;
    background-color: #9430EB;
    border-radius: 0 1vh 1vh 0;
  }
  #chat #receiver #contactsFlex .contact .contact__activeBar--red {
    justify-self: flex-start;
    width: 2%;
    margin-right: 3%;
    height: 100%;
    background-color: #FF397D;
    border-radius: 0 1vh 1vh 0;
  }
  #chat #receiver #contactsFlex .contact .contact__activeBar--green {
    justify-self: flex-start;
    width: 2%;
    margin-right: 3%;
    height: 100%;
    background-color: #00A48A;
    border-radius: 0 1vh 1vh 0;
  }
  #chat #receiver #contactsFlex .contact .contact__activeBar {
    justify-self: flex-start;
    width: 2%;
    margin-right: 3%;
    height: 95%;
  }
  #chat #receiver #contactsFlex .contact .contactImage--border {
    display: none;
  }
  #chat #receiver #contactsFlex .contact .contact__text {
    width: 95%;
    text-align: center;
    overflow: hidden;
  }
  #chat #receiver #contactsFlex .contact .contact__text h1 {
    padding: 0;
    margin: 0;
    font-family: osSemibold, "Nunito", sans-serif;
    color: #E3E3E3;
    font-size: 3.5vw;
  }
  #chat #receiver #contactsFlex .contact--active {
    background-color: #583E79;
  }

  #contacts {
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  body {
    height: 100vh;
    width: 100vw;
  }
}

/*# sourceMappingURL=ChatApp.css.map */
