@font-face {
  font-family: arista;
  src: url("../fonts/arista.ttf") format("truetype");
}
@font-face {
  font-family: osRegular;
  src: url("../fonts/openSans-regular.ttf") format("truetype");
}
@font-face {
  font-family: osSemibold;
  src: url("../fonts/openSans-semibold.ttf") format("truetype");
}
#appGrid {
  overflow: hidden;
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: 35% auto;
  grid-template-rows: 10% auto;
  row-gap: 2%;
  background-color: #282D34;
}

#header {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-content: space-between;
  background-color: #9430EB;
  border-radius: 0 0 2vh 2vh;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;
}
#header h1 {
  font-family: arista, "Nunito", sans-serif;
  color: #E3E3E3;
  padding: 0;
  margin: 0;
  font-size: 350%;
  margin-left: 2%;
}
#header p {
  font-family: osRegular, "Nunito", sans-serif;
  color: #E3E3E3;
  padding: 0;
  margin: 0;
  font-size: 200%;
  margin-right: 2%;
}

.buttons {
  background-color: #583E79;
  border: none;
  border-radius: 18px;
  padding: 0.8vh 1vw;
  width: 6.5vw;
  font-size: 130%;
  text-align: center;
}

#contacts {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-content: flex-start;
  width: 90%;
  height: 100%;
  justify-self: center;
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
}
#contacts #buttonBar {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-content: space-between;
  height: 10%;
  width: 100%;
}
#contacts #buttonBar #searchBar {
  font-family: osRegular, "Nunito", sans-serif;
  color: #E3E3E3;
  width: 60%;
  padding: 0.8vh 1vw;
  border: none;
  border-radius: 2.5vh;
  font-size: 130%;
  background-color: #3C434B;
  color: #858585;
}
#contacts #buttonBar #searchBar:focus-visible {
  color: #E3E3E3;
  outline: none;
}
#contacts input[type=search]::-webkit-search-decoration,
#contacts input[type=search]::-webkit-search-cancel-button,
#contacts input[type=search]::-webkit-search-results-button,
#contacts input[type=search]::-webkit-search-results-decoration {
  display: none;
}
#contacts #addButton {
  font-family: osRegular, "Nunito", sans-serif;
  color: #E3E3E3;
}
#contacts #addButton:hover {
  background-color: #9430EB;
}
#contacts #contactsList::-webkit-scrollbar {
  display: none;
}
#contacts #contactsList {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  background-color: #3C434B;
  color: #E3E3E3;
  width: 100%;
  height: 90%;
  max-height: 772px;
  border-radius: 2vh 2vh 0 0;
  justify-content: flex-start;
  overflow-y: scroll;
}
#contacts #contactsList #noContacts {
  position: relative;
  top: 50%;
}
#contacts #contactsList .contact:hover {
  background-color: #2e343a;
}
#contacts #contactsList .contact--active {
  background-color: #583E79;
  border-radius: 2vh 2vh 0 0;
}
#contacts #contactsList .contact--active:hover {
  background-color: #583E79;
}
#contacts #contactsList .contact {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  height: 20%;
  width: 100%;
  justify-content: flex-start;
}
#contacts #contactsList .contact .contact__activeBar--lit {
  justify-self: flex-start;
  width: 2%;
  margin-right: 3%;
  height: 100%;
  background-color: #9430EB;
  border-radius: 2vh;
}
#contacts #contactsList .contact .contact__activeBar {
  justify-self: flex-start;
  width: 2%;
  margin-right: 3%;
  height: 95%;
}
#contacts #contactsList .contact .contactImage--border {
  width: 15%;
  margin-right: 3%;
  height: 50%;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
}
#contacts #contactsList .contact .contact__text {
  width: 72%;
  height: 25%;
  text-align: center;
  overflow: hidden;
}
#contacts #contactsList .contact .contact__text h1 {
  padding: 0;
  margin: 0;
  font-family: osSemibold, "Nunito", sans-serif;
  color: #E3E3E3;
  font-size: 150%;
}
#contacts #contactsList .contact .contact__text p {
  padding: 0;
  margin: 0;
  font-family: osRegular, "Nunito", sans-serif;
  color: #E3E3E3;
  font-size: 125%;
}
#contacts #contactsList .contact .contact__text--name {
  height: 25%;
}
#contacts #contactsList .contact .contact__text--name h1 {
  text-align: center;
}

#chat {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-content: flex-start;
  width: 90%;
  height: 100%;
  justify-self: center;
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 3;
}
#chat #receiver {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 10%;
}
#chat #receiver p {
  padding: 0;
  margin: 0;
  font-family: osSemibold, "Nunito", sans-serif;
  color: #E3E3E3;
  background-color: #583E79;
  border: none;
  border-radius: 18px;
  padding: 0.8vh 10%;
  font-size: 130%;
  text-align: center;
  color: #E3E3E3;
}
#chat #chatWindow {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 78%;
  max-height: 670px;
  overflow: scroll;
}
#chat #chatWindow .receivedMessage {
  font-family: osSemibold, "Nunito", sans-serif;
  color: #282D34;
  background-color: #E3E3E3;
  padding: 2vh 2vw;
  border-radius: 2.8vh;
  max-width: 45%;
  margin-bottom: 0.2vh;
}
#chat #chatWindow .lastReceivedMessage {
  font-family: osSemibold, "Nunito", sans-serif;
  color: #282D34;
  background-color: #E3E3E3;
  padding: 2vh 2vw;
  border-radius: 2.8vh;
  max-width: 45%;
  margin-bottom: 0.2vh;
  border-radius: 0 2.8vh 2.8vh 2.8vh;
}
#chat #chatWindow .sentMessage {
  font-family: osSemibold, "Nunito", sans-serif;
  color: #282D34;
  background-color: #E3E3E3;
  padding: 2vh 2vw;
  border-radius: 2.8vh;
  max-width: 45%;
  margin-bottom: 0.2vh;
  align-self: flex-end;
  background-color: #9430EB;
  color: #E3E3E3;
}
#chat #chatWindow .lastSentMessage {
  font-family: osSemibold, "Nunito", sans-serif;
  color: #282D34;
  background-color: #E3E3E3;
  padding: 2vh 2vw;
  border-radius: 2.8vh;
  max-width: 45%;
  margin-bottom: 0.2vh;
  align-self: flex-end;
  background-color: #9430EB;
  color: #E3E3E3;
  border-radius: 2.8vh 0 2.8vh 2.8vh;
}
#chat #chatWindow::-webkit-scrollbar {
  display: none;
}
#chat #messageBar {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-content: space-between;
  height: 12%;
  width: 100%;
}
#chat #messageBar #message {
  font-family: osRegular, "Nunito", sans-serif;
  color: #E3E3E3;
  width: 75%;
  padding: 0.8vh 1vw;
  border: none;
  border-radius: 2.5vh;
  font-size: 2.5vh;
  background-color: #3C434B;
  color: #E3E3E3;
}
#chat #messageBar #message:focus-visible {
  outline: none;
}
#chat #messageBar #sendMessage {
  font-family: osRegular, "Nunito", sans-serif;
  color: #E3E3E3;
  background-color: #9430EB;
  font-size: 130%;
  min-width: 63px;
}

@media screen and (max-height: 700px) {
  #appGrid {
    grid-template-rows: 70px auto;
    row-gap: 1.8vh;
  }

  #contacts, #chat {
    height: 616.42px;
  }
  #contacts #chatWindow, #chat #chatWindow {
    height: 70%;
  }
}
@media screen and (max-width: 1400px) {
  #appGrid {
    grid-template-columns: auto;
  }

  #chat {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  #contacts {
    display: none;
  }
}

/*# sourceMappingURL=ChatApp.css.map */
