$background-black-light: #3C434B
$background-black: #282D34
$purple-theme: #9430EB /* for text */
$white-theme: #E3E3E3 /* for text */
$darker-text: #858585
$purple-theme-faded: #583E79
$logo-text: arista, "Nunito", sans-serif


@font-face
  font-family: arista
  src: url('../fonts/arista.ttf') format('truetype')

@font-face
  font-family: osRegular
  src: url('../fonts/openSans-regular.ttf') format('truetype')

@font-face
  font-family: osSemibold
  src: url('../fonts/openSans-semibold.ttf') format('truetype')


@mixin fontStyle($color: $logo-text, $font: arista)
  font-family: $font, "Nunito", sans-serif
  color: $color

@mixin spaceKiller
  padding: 0
  margin: 0

@mixin centerAligned($flow: column)
  display: flex
  flex-flow: $flow
  align-items: center
  justify-content: center
  align-content: center

@mixin message
  @include fontStyle($background-black, osSemibold)
  background-color: $white-theme
  padding: 2vh 2vw
  border-radius: 2.8vh
  max-width: 45%
  margin-bottom: .2vh




#appGrid
  display: grid
  width: 100vw
  height: 100vh
  grid-template-columns: 35% auto
  grid-template-rows: 10% auto
  row-gap: 2%
  background-color: $background-black


#header
  @include centerAligned(row)
  justify-content: space-between
  background-color: $purple-theme
  border-radius: 0 0 2vh 2vh
  grid-row-start: 1
  grid-row-end: 2
  grid-column-start: 1
  grid-column-end: 3

  h1
    @include fontStyle($white-theme, arista)
    @include spaceKiller
    font-size: 350%
    margin-left: 2%

  p
    @include fontStyle($white-theme, osRegular)
    @include spaceKiller
    font-size: 200%
    margin-right: 2%


.contact
  .contact__activeBar--red
    justify-self: flex-start
    width: 2%
    margin-right: 3%
    height: 100%
    background-color: #FF397D
    border-radius: 0 1vh 1vh 0

  .contact__activeBar--green
    justify-self: flex-start
    width: 2%
    margin-right: 3%
    height: 100%
    background-color: #00A48A
    border-radius: 0 1vh 1vh 0




.buttons
  background-color: #583E79
  border: none
  border-radius: 18px
  padding: .8vh 1vw
  width: 6.5vw
  font-size: 130%
  text-align: center

#contacts
  @include centerAligned(column)
  justify-content: flex-start
  width: 90%
  height: 100%
  justify-self: center
  grid-row-start: 2
  grid-row-end: 4
  grid-column-start: 1
  grid-column-end: 2

  #buttonBar
    @include centerAligned(row)
    justify-content: space-between
    height: 10%
    width: 100%

    #searchBar
      @include fontStyle($white-theme, osRegular)
      width: 60%
      padding: .8vh 1vw
      border: none
      border-radius: 2.5vh
      font-size: 130%
      background-color: $background-black-light
      color: $darker-text

    #searchBar:focus-visible
      color: $white-theme
      outline: none


  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration
    display: none

  #addButton
    @include fontStyle($white-theme, osRegular)

  #addButton:hover
    background-color: $purple-theme



  #contactsList::-webkit-scrollbar
    display: none

  #contactsList
    @include centerAligned(column)
    background-color: $background-black-light
    color: $white-theme
    width: 100%
    height: 90%
    max-height: 772px
    border-radius: 2vh 2vh 0 0
    justify-content: flex-start
    overflow-y: scroll

    #noContacts
      position: relative
      top: 50%

    .contact:hover
      background-color: #2e343a

    .contact--active
      background-color: $purple-theme-faded

    .contact--active:hover
      background-color: $purple-theme-faded

    .contact
      @include centerAligned(row)
      height: 20%
      width: 100%
      justify-content: flex-start

      .contact__activeBar--lit
        justify-self: flex-start
        width: 2%
        margin-right: 3%
        height: 100%
        background-color: $purple-theme
        border-radius: 0 1vh 1vh 0

      .contact__activeBar
        justify-self: flex-start
        width: 2%
        margin-right: 3%
        height: 95%

      .contactImage--border
        width: 15%
        margin-right: 3%
        height: 50%
        border-radius: 50%
        background-position: center
        background-size: cover

      .contact__text
        width: 72%
        height: 25%
        text-align: center
        overflow: hidden

        h1
          @include spaceKiller
          @include fontStyle($white-theme, osSemibold)
          font-size: 3vh

        p
          @include spaceKiller
          @include fontStyle($white-theme, osRegular)
          font-size: 125%

      .contact__text--name
        height: 25%

        h1
          text-align: center








#chat
  @include centerAligned(column)
  justify-content: flex-start
  width: 90%
  height: 100%
  justify-self: center
  grid-row-start: 2
  grid-row-end: 4
  grid-column-start: 2
  grid-column-end: 3

  #receiver
    @include centerAligned(column)
    width: 40%
    height: 10%

    #receiver__header
      @include centerAligned(row)
      @include centerAligned(row)
      background-color: $purple-theme-faded
      border: none
      border-radius: 18px
      padding: 0.8vh 1vw
      width: 100%

      img
        width: 5%
        position: relative
        display: none
        margin-left: 2%

      p
        @include centerAligned(row)
        @include spaceKiller
        @include fontStyle($white-theme, osSemibold)
        width: 90%
        font-size: 130%
        text-align: center
        text-overflow: ellipsis
        color: $white-theme

    #contactsFlex
      display: none
      position: absolute
      top: 19vh
      width: 58%
      overflow-y: scroll


    #contactsFlex::-webkit-scrollbar
      display: none





  #chatWindow
    @include centerAligned(column)
    justify-content: flex-start
    align-items: flex-start
    width: 100%
    height: 78vh
    overflow-y: scroll

    .receivedMessage
      @include message

    .lastReceivedMessage
      @include message
      border-radius: 0 2.8vh 2.8vh 2.8vh

    .sentMessage
      @include message
      align-self: flex-end
      background-color: $purple-theme
      color: $white-theme

    .lastSentMessage
      @include message
      align-self: flex-end
      background-color: $purple-theme
      color: $white-theme
      border-radius: 2.8vh 0 2.8vh 2.8vh

  #chatWindow::-webkit-scrollbar
    display: none


  #messageBar
    @include centerAligned(row)
    justify-content: space-between
    height: 12%
    width: 100%

    #message
      @include fontStyle($white-theme, osRegular)
      width: 75%
      padding: .8vh 1vw
      border: none
      border-radius: 2.5vh
      font-size: 2.5vh
      background-color: $background-black-light
      color: $white-theme

    #message:focus-visible
      outline: none

    #sendMessage
      @include fontStyle($white-theme, osRegular)
      background-color: $purple-theme
      font-size: 2.5vh
      min-width: 63px







@media screen and (max-width: 1400px)
  body
    height: 100vh
    width: 100vh

  #appGrid
    grid-template-columns: auto

  #chat
    grid-row-start: 2
    grid-row-end: 4
    grid-column-start: 1
    grid-column-end: 3
    height: 88vh


    #receiver
      width: 65%
      #receiver__header
        height: 60%
        padding: 0
        p
          width: 80%
          font-size: 3.5vw
        img
          display: block
          width: 2vw

      #contactsFlex
        display: block
        height: 30%

        .contact:hover
          background-color: $purple-theme-faded

        .contact
          @include centerAligned(row)
          width: 100%
          height: 30%
          justify-content: flex-start
          background-color: $background-black-light

          .contact__activeBar--lit
            justify-self: flex-start
            width: 2%
            margin-right: 3%
            height: 100%
            background-color: $purple-theme
            border-radius: 0 1vh 1vh 0

          .contact__activeBar--red
            justify-self: flex-start
            width: 2%
            margin-right: 3%
            height: 100%
            background-color: #FF397D
            border-radius: 0 1vh 1vh 0

          .contact__activeBar--green
            justify-self: flex-start
            width: 2%
            margin-right: 3%
            height: 100%
            background-color: #00A48A
            border-radius: 0 1vh 1vh 0

          .contact__activeBar
            justify-self: flex-start
            width: 2%
            margin-right: 3%
            height: 95%

          .contactImage--border
            display: none

          .contact__text
            width: 95%
            text-align: center
            overflow: hidden

            h1
              @include spaceKiller
              @include fontStyle($white-theme, osSemibold)
              font-size: 3.5vw


        .contact--active
          background-color: $purple-theme-faded



  #contacts
    display: none

@media screen and (max-width: 1000px)
  body
    height: 100vh
    width: 100vw

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3)
  body
    height: 100vh
    width: 100vw